html {
  height: 100%;
  box-sizing: border-box;
}

h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

a {
  color: rgba(0, 0, 0, 0.65);
  text-decoration: none;
  padding-right: 0.7em;
}

.brand {
  font-size: 1.3em;
}

a:hover {
  text-decoration: underline;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.portfolio-item {
  /*width:100%;*/
}
.portfolio-item .item {
  /*width:303px;*/
  float: left;
  margin-bottom: 10px;
}
.slick-arrow {
  z-index: 1;
  width: 30px;
  height: 30px;
}
.slick-arrow:before {
  font-size: 30px;
}
.slick-next {
  right: 0;
}
.slick-prev {
  left: 0;
}

.btn-wrap {
  text-align: center;
  width: 100%;
}
button {
  background-color: #ddd;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.5s;
}
button.slick-disabled {
  opacity: 0.6;
}
